@import url(http://fonts.googleapis.com/css?family=Cabin:700);

body {
  padding-top: 2em;
  background-color: #56D2A3;
}

.floating-logo{
  position: fixed;
  top: 20px;
  left: 30px;
  height: 50px;
  z-index: 1;
}

.circle-container {
	position: relative;
	perspective: 1000;	

	margin: 80px auto;	

}
		
.circle-container, .front, .back {
	width: 500px;
	height: 500px;
	background-color: rgba(0,0,0,0);
}
		
.circle {
	position: relative;
	width: 500px;
	height: 500px;
}
		
.front, .back {
	border-radius: 50%;
	box-shadow: 0px 0px 20px rgba(0,0,0,0.4);
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}
		
.front {
	background-color: #fff;
	z-index: 2;
}
		
.front p {
	position: absolute;
    margin-top: 1.2em;
    margin-left: 0.6em;
    font-family: cabin, sans-serif;
    font-weight: 700;
    font-size: 9em;
    text-align: center;
    color: #282B30;
}
		
.back {
	transform: rotate3d(45,45,0,180deg);
	background-color: #fff;
}
		
.back-logo {
	width: 60%;
	display: block;
	margin: 2em auto;
}
		
.outer-ring {
	position: absolute;
	top: -15px;
	left: -15px;
	border-radius: 50%;
	border: 2px solid #fff;
	width: 530px;
	height: 530px;
	background-color: rgba(255,255,255,0);
	box-shadow: 0px 0px 20px rgba(0,0,0,0.4);
}

.outer-outer-ring {
	position: absolute;
	top: -20px;
	left: -20px;
	border-radius: 50%;
	border: 2px solid #fff;
	width: 211px;
	height: 211px;
	background-color: rgba(255,255,255,0);
	box-shadow: 0px 0px 20px rgba(0,0,0,0.4);
}

/*
 Below is the forms (inside of circle)
*/

/* basic stylings ------------------------------------------ */

h2 		 { 
  text-align:center; 
  margin-bottom:50px; 
}
h2 small { 
  font-weight:normal; 
  color:#888; 
  display:block; 
}
.footer 	{ text-align:center; }
.footer a  { color:#53B2C8; }

/* form starting stylings ------------------------------- */
.group 			  { 
  position:relative; 
  margin-bottom:45px; 
}
input 				{
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  width:300px;
  border:none;
  border-bottom:1px solid #757575;
}
input:focus 		{ outline:none; }

/* LABEL ======================================= */
label 				 {
  color:#999; 
  font-size:18px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}

/* active state */
input:focus ~ label, input:valid ~ label 		{
  top:-20px;
  font-size:14px;
  color:#5264AE;
}


/* HIGHLIGHTER ================================== */
.highlight {
  position:absolute;
  height:60%; 
  width:100px; 
  top:25%; 
  left:0;
  pointer-events:none;
  opacity:0.5;
}

/* active state */
input:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}

#circleForm{
	margin-top: 150px;
	margin-left: 80px;
}

button {   
  display: block;
  margin: 0 auto;
  margin-left: 50px;
  border: none;
  background: #56D2A3;
  cursor: pointer;
  border-radius: 3px;
  padding: 6px;
  width: 200px;
  color: white;
  
  box-shadow: 0 3px 6px 0 rgba(0,0,0,0.2);
  button:hover { 
    transform: translateY(-3px);
    box-shadow: 0 6px 6px 0 rgba(0,0,0,0.2);
  }
}

#textForm{
  font-weight: bold;
  font-size: 30px;
  padding-bottom: 30px;		
}

.Login{
    font-size: 25px;
    width: 150px;
    margin-top: 60px;    
    margin-left: 80px;
}
.Signup{
    font-size: 25px;
    width: 150px;
    margin-top: 60px;
    margin-left: 30px;
}

.Epic{
    font-size: 25px;
    width: 150px;
    margin-top: 285px;
    margin-left: 160px;
}

#text_singulert{
  font-size: 60px;
  margin-left: 110px;
  margin-top: 120px;
  font-weight: bold;
}

.fields {
  position: absolute;
  margin-top: 28px;
  margin-left: 20px;
}
#login{
  position: absolute;
  font-weight: bold;
  font-size: 40px;
  padding-bottom: 30px;
  z-index: 100;
  margin-top: -70px;
  margin-left: 115px;
}

#signup{
  position: absolute;
  font-weight: bold;
  font-size: 40px;
  padding-bottom: 30px;
  z-index: 100;
  margin-top: -70px;
  margin-left: 110px;
}

#epic{
  position: absolute;
  font-weight: bold;
  font-size: 33px;
  padding-bottom: 30px;
  z-index: 100;
  margin-top: 165px;
  margin-left: 65px; 
}
#loginbtn{
  position: absolute;
  margin-top: 220px;
  margin-left: 74px;
}

#signupbtn{
  position: absolute;
  margin-top: 220px;
  margin-left: 74px;
}

.error{
    position: fixed;
    z-index: 1;
    top: 50vh;
    left: 5vw;
}

#startBtn{
  height: 250px;
  position: fixed;
  top: 20vh;
  left: 5vw;
}