<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">           
<link rel="stylesheet" type="text/css" href="asset.css" media="screen"> 

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">            
<link href='https://fonts.googleapis.com/css?family=Roboto:400' rel='stylesheet' type='text/css'>         

<script type="text/javascript" src="js.cookie.js"></script>
<script type="text/javascript" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 

<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

<script type="text/javascript" src="jquery.flip.js"></script>
<script type="text/javascript" src="jquery.transit.min.js"></script>
<script type="text/javascript" src="asset.js"></script>
</head>

<body>
<img src="logo.jpg" class="floating-logo"/>
<div class="circle-container">
    <div class="outer-ring"></div>
    <!-- Used for more of a gyroscope type effect
    <div class="outer-outer-ring"></div>
    -->
    <div class="circle">
        <div class="front">
            <img id="startBtn" src="infinity.gif"/>
        </div>
        <div class="back">
            <div class="container">
              <p id="text_singulert">Singulert</p>
              <div class="row">
                <button type="button" class="btn btn-primary Login">Login</button>
                <button type="button" class="btn btn-info Signup">Signup</button>
              </div>
<!-- 
              <div id="circleForm">                
                <p id="textForm">Choose a User Name</p>
                <div class="group">      
                  <input id="nameField" type="text" required>
                  <span class="highlight"></span>
                  <span class="bar"></span>
                  <label>User Name</label>
                </div>
                  
                <button id="nextBtn">Next</button>
              </div>                 -->
            </div>                           
        </div>
    </div>
</div>
</body>
</html> 

