.logo-pane{
	background-color: #282B30;
	position: fixed;
	left: 0;
	top: 0;
	height: 100vh;
	box-shadow: 0 4px 12px 0 rgba(0,0,0,0.5);
}
.logo{
	width: 105.5%;
	margin
}


body{
	font-family: 'Lato', sans-serif;
}

.welcome-text{
	color: #fff;
	font-size: .6em;
	text-align: center;
	font-style: italic;
	position: absolute;
    bottom: 0;
    left: 6.5vw;
}

.user-image{
	text-align: center;
	max-height: 150px;
	position: absolute;
	top: 20vh;
	left: 6.5vw;
	border: 1px solid #fff;
}

.user-info{
	position: relative;
	top: 35vh;
	color: #fff;
	text-align: center;

}

#myChart{
	margin-left: 400px;
}

#stabilityText{
	margin-top: 50px;
    margin-left: 450px;
    font-size: 35px;
    font-weight: bold;
}

.row p{
  font-size:12px;
  width:150px;
  padding:0;
  margin:0;
  font-weight:600;
  color:#a9a9a9;
}
.wrapper img{
  border-radius:80px;
  width:80px;
  margin-top:15px;
  margin-left:5px;
}
.row h4 {
  font-size:14px;
  width:150px;
}
.row span{
  float:right;
  width:20px;
  position:absolute;
  top:20px;
   left:150px;
}
.fa-star-o{
  color:red;
  cursor:pointer;
}
#basicMenu {
  cursor:pointer;
  width:412px;
  height:50px;
  bottom:0;
   color:#a9a9a9;
  box-shadow: 0px 2px 15px #ddd;
  position:absolute;
  background:white;
}
.add .active{
 color:#7394b5;
}
.add > div:hover{
  color:#7394b5;
}
.add{
  float:left;
  margin:0 5px;
  color:#282B30;
}

.userDetails h2{
  font-size:20px;
  color: #09384b;
  padding-top:70px;
 }
.userDetails p{
  font-size:13px;
  float:left;
  margin-top:-85px;
  color:#a9a9a9;
}
.menu .bold{
  font-weight:700;
  padding-bottom:10px;
}
.menu .light{ 
  font-size:14px;
  
}
.eraseDb{
  padding-top: 40px;
}
.menu .logOut{
  padding-top:60px;
  color:#a9a9a9;
  font-size:18px;
}
.sortView{
  position:relative;
  margin:0 auto;
  width:80px;
  top:20px;
  left:150px;
  cursor:pointer;
}

.contactList .bold{
  font-weight:700;
  color:#09384b;
}
.sortView > div:hover{
  color:#75758a;
}
.sortView .active{
  color:#75758a;
}
.gridView, .listView{
  color:#a9a9a9;
  float:right;
  margin:0 5px;
 
}
.wrapper{
  background-color:#fcfcfc;
  display: flex;
  width: 322px;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  box-shadow: 0px 2px 15px #ddd;

  }
.sidebar {
  background:#fcfcfc;
  max-height: 736px;
  height: 736px;
  width: 250px;
  position: absolute;
  padding: 0 50px;
}
.sidebar .menu { 
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: left; 
}
.sidebar .menu ul {
  padding-left: 0;
}
.sidebar ul li {
  color: #09384b;
  line-height: 3;
  list-style: none;
  font-family: 'Montserrat', sans-serif;
}
.content #searchBar{
  position:absolute;
  left:105px;
  top:18px;
  border-radius:40px;
  color:#a9a9a9;
}
.content #poppedOut {
  height:50px;
  background:white;
  box-shadow: 0px 2px 15px #ddd;
}
.content > div { 
  position: relative;
  transition: background-color 0.8s ease; 
}
.content #openMenu { 
  cursor: pointer; 
  position: absolute;
  top: 20px;
  left: 10px;
}
.content {
  flex: 1;
  transform: translateX(0) scale(1);
  animation: shrink-off .4s ease-out;
  background: #fcfcfc;
}
.content.shrink {
  box-shadow: -2px 2px 20px #ddd;
  transform: translateX(250px) scale(.95);
  animation: shrink-on .4s ease-out;
}

.content #openMenu > div { 
  width: 20px; 
  ;
  border: solid  #09384b 1px;
  margin-bottom: 5px; 
}
.content #openMenu > div:nth-child(2) { width: 15px; }

.no-animation {
  animation: none !important;
}


.contactList{
  margin-top:50px;
  margin-left:5px;

}



@import url(http://fonts.googleapis.com/css?family=Oxygen:400,300);
@import url(http://weloveiconfonts.com/api/?family=entypo);


#screen {
  position: absolute;
  width: 23em;
  height: 39em;
  max-width: 100%;
  overflow-x: hidden;
}

input {
  position: absolute;
  visibility: hidden; /**/
}


label {
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  cursor: pointer;
}

.item {
  position: relative;
  float: left;
  
  width: 100%;
  height: 6em;
  padding: 1px 0;
  
  z-index: 3;
  overflow: hidden;
  -webkit-transition: background-color .7s;
}

.portrait {
  position: relative;
  float: left;
  
  height: 3em;
  width: 3em;
  
  border-radius: 50%;
  
  margin: 1.5em;
  
  background-size: cover;
}
.portrait:after {
  content: ' ';
  position: absolute;
  top: -.3em;
  left: -.3em;
  
  height: 2.5em;
  width: 2.5em;
  
  border: 1px solid rgba(255,255,255, .5);
  border-radius: 50%;
  -webkit-transition: border .3s;
}

.details {
  position: relative;
  float: left;
  top: 0;
  
  width: 55%;  
  margin: 1em 0 0 0em;
  
  -webkit-transition: top .5s;
}

.name,
.description {
  position: relative;
  float: left;
  clear: left;
  margin: 0;
}

.name {
  font-size: 1.5em;
  font-weight: 300;
  color:black;
}
.description {
  font-size: .9em;
  color: rgba(0,0,0, .8);
}

.actions {
  position: absolute;
  top: 7em;
  
  width: 100%;
  
}
.actions > div {
  font-family: Entypo;
  font-size: 2.1em;
  
  position: absolute;
  width: 25%;
  
  color :transparent;
  -webkit-text-stroke-width: .5px;
  -webkit-text-stroke-color: #fff;
  
  cursor: pointer;
}
.actions > div:nth-child(2) {
  left: 30%;
}
.actions > div:nth-child(3) {
  left: 60%;
}
.actions > div:nth-child(4) {
  left: 90%;
}

.actions > div:hover {
  -webkit-text-stroke-width: 0;
  color: #fff !important;
}

.info {
  font-size: 100% !important;
}
.info:after {
  font-size: 1.7em;
  content: 'i';
  color: #fff;
  -webkit-text-stroke-width: 0;
  
  border: 1px solid #fff;
  border-radius: 50%;
  padding: 2px 11px;
}
.info:hover:after {
  background-color: rgba(255,255,255, .2);
}

/* Genreal Interaction */
.item:hover > .portrait:after {
  border: 1px solid rgba(116,226,21, 1);
  box-shadow: 0 0 3px rgba(116,226,21, .5);
}