<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Singulert</title>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="userprofile.css">


    <!-- HTML5 Shim -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
   <div class="col-md-3 logo-pane">
   	<img src="logo.jpg" class="logo" />
   	<img src="userimage.jpg" class="img-circle user-image" />
   	<h2 class="user-info" id="user-name">NAME</h2>
   	<h5 class="user-info" id="user-dob">AGE</h5>
    <h5 class="user-info" id="user-gender">GENDER</h5>
   	<h5 class="user-info" id="user-address">ADDRESS</h5>
    <h5 class="user-info" id="user-cp">CARE PROVIDER</h5>
    <h5 class="user-info" id="user-phone">PHONE NUMBER</h5>
   	<h3 class="welcome-text">Created by Shivam, Daniel, and Lingyi</h3>
   </div>
   <p id="stabilityText">Stability Rating</p>
   <div class="col-md-3">
    <canvas id="myChart" width="100" height="100"></canvas>
   </div>
  <div class="col-md-3">
    <div class="wrapper">
      <div class="content no-animation" data-pos="0">
        <div id="poppedOut">
          <div id="openMenu">
            <div></div>
            <div></div>
            <div></div>
          </div>
          <div id="searchBar">
            <i class="fa fa-search"></i>Search by name
          </div>
        </div>
        <div class="sortView">
          <div class="add"><i class="fa fa-2x fa-plus-circle"></i></div>
        </div>
        <div class="contactList">
        <input type="radio" name="contatcs" id="contact-1">
          <div class="item">
            <div class="portrait" id="chris-lacy"></div>
            <div class="details">
              <p class="name">Chris Lacy</p>
              <p class="description">Developer</p>
              <div class="actions">
                <div class="mail">&#9993;</div>
                <div class="text">&#59168;</div>
                <div class="call">&#128222;</div>
                <div class="info"></div>
              </div>
            </div>
            <label for="contact-1"></label>
          </div>

          <input type="radio" name="contatcs" id="contact-10">
          <div class="item">
            <div class="portrait" id="Mara"></div>
            <div class="details">
              <p class="name">Mara Mascaro</p>
              <p class="description">Video Editor</p>
              <div class="actions">
                <div class="mail">&#9993;</div>
                <div class="text">&#59168;</div>
                <div class="call">&#128222;</div>
                <div class="info"></div>
              </div>
            </div>
            <label for="contact-10"></label>
          </div>

          <input type="radio" name="contatcs" id="contact-2">
          <div class="item">
            <div class="portrait" id="marq"></div>
            <div class="details">
              <p class="name">Marques Brownlee</p>
              <p class="description">Producer</p>
              <div class="actions">
                <div class="mail">&#9993;</div>
                <div class="text">&#59168;</div>
                <div class="call">&#128222;</div>
                <div class="info"></div>
              </div>
            </div>
            <label for="contact-2"></label>
          </div>

          <input type="radio" name="contatcs" id="contact-3">
          <div class="item">
            <div class="portrait" id="Neila"></div>
            <div class="details">
              <p class="name">Neila Rey</p>
              <p class="description">Fitness Community</p>
              <div class="actions">
                <div class="mail">&#9993;</div>
                <div class="text">&#59168;</div>
                <div class="call">&#128222;</div>
                <div class="info"></div>
              </div>
            </div>
            <label for="contact-3"></label>
          </div>

          <input type="radio" name="contatcs" id="contact-4">
          <div class="item">
            <div class="portrait" id="Tim"></div>
            <div class="details">
              <p class="name">Tim O'Reilly</p>
              <p class="description">CEO, O'Reilly Media</p>
              <div class="actions">
                <div class="mail">&#9993;</div>
                <div class="text">&#59168;</div>
                <div class="call">&#128222;</div>
                <div class="info"></div>
              </div>
            </div>
            <label for="contact-4"></label>
          </div>

          <input type="radio" name="contatcs" id="contact-9">
          <div class="item">
            <div class="portrait" id="Ana"></div>
            <div class="details">
              <p class="name">Ana Svanadze</p>
              <p class="description">Patriot</p>
              <div class="actions">
                <div class="mail">&#9993;</div>
                <div class="text">&#59168;</div>
                <div class="call">&#128222;</div>
                <div class="info"></div>
              </div>
            </div>
            <label for="contact-9"></label>
          </div>

          <input type="radio" name="contatcs" id="contact-5">
          <div class="item">
            <div class="portrait" id="Ross"></div>
            <div class="details">
              <p class="name">Derek Ross</p>
              <p class="description">Systems Administrator</p>
              <div class="actions">
                <div class="mail">&#9993;</div>
                <div class="text">&#59168;</div>
                <div class="call">&#128222;</div>
                <div class="info"></div>
              </div>
            </div>
            <label for="contact-5"></label>
          </div>

          <input type="radio" name="contatcs" id="contact-6">
          <div class="item">
            <div class="portrait" id="Richard"></div>
            <div class="details">
              <p class="name">Richard Branson</p>
              <p class="description">Founder of Virgin Group</p>
              <div class="actions">
                <div class="mail">&#9993;</div>
                <div class="text">&#59168;</div>
                <div class="call">&#128222;</div>
                <div class="info"></div>
              </div>
            </div>
            <label for="contact-6"></label>
          </div>

          <input type="radio" name="contatcs" id="contact-7">
          <div class="item">
            <div class="portrait" id="George"></div>
            <div class="details">
              <p class="name">George Takei</p>
              <p class="description">Come on</p>
              <div class="actions">
                <div class="mail">&#9993;</div>
                <div class="text">&#59168;</div>
                <div class="call">&#128222;</div>
                <div class="info"></div>
              </div>
            </div>
            <label for="contact-7"></label>
          </div>

          <input type="radio" name="contatcs" id="contact-8">
          <div class="item">
            <div class="portrait" id="Beaufort"></div>
            <div class="details">
              <p class="name">François Beaufort</p>
              <p class="description">Happiness Evangelist</p>
              <div class="actions">
                <div class="mail">&#9993;</div>
                <div class="text">&#59168;</div>
                <div class="call">&#128222;</div>
                <div class="info"></div>
              </div>
            </div>
            <label for="contact-8"></label>
          </div>

        </div>
      </div>
    </div>
   </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <script type="text/javascript" src="js.cookie.js"></script>
    <script type="text/javascript" src="userprofile.js"></script>
    
  </body>
</html>