<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Singulert</title>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="userprofile.css">
    <!-- HTML5 Shim -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
   <div class="col-md-3 logo-pane">
   	<img src="logo.jpg" class="logo" />
   	<img src="userimage.jpg" class="img-circle user-image" />
   	<h2 class="user-info" id="user-name">NAME</h2>
   	<h6 class="user-info" id="user-dob">AGE</h6>
    <h6 class="user-info" id="user-gender">GENDER</h6>
   	<h6 class="user-info" id="user-address">ADDRESS</h6>
    <h6 class="user-info" id="user-cp">CARE PROVIDER</h6>
    <h6 class="user-info" id="user-phone">PHONE NUMBER</h6>
   	<h3 class="welcome-text">Created by Shivam, Daniel, and Lingyi</h3>
    <button class="btn btn-primary signout">Sign out</button>

    
   </div>
   <p id="stabilityText">Current Stability Rating</p>
   <div class="col-md-3">
    <canvas id="myChart" width="100" height="100"></canvas>
   </div>
  <div class="col-md-3">
    <div class="wrapper">
      <div class="content no-animation" data-pos="0">
        <div id="poppedOut">
          <div id="searchBar">
            <i class="fa fa-search"></i> Search by name
          </div>
        </div>
        <div class="sortView">
          <div class="add"><i class="fa fa-2x fa-plus-circle"></i></div>
        </div>
        <div class="contactList">
          <div class="item">
            <div class="portrait" id="chris-lacy"></div>
            <div class="details">
              <p class="name">Daniel Kim</p>
              <p class="description">Nurse</p>
            </div>
            <label for="contact-1"></label>
          </div>

          <div class="item">
            <div class="portrait" id="Mara"></div>
            <div class="details">
              <p class="name">Lingyi Wang</p>
              <p class="description">Doctor</p>
            </div>
            <label for="contact-10"></label>
          </div>

          <div class="item">
            <div class="portrait" id="marq"></div>
            <div class="details">
              <p class="name">Shivam Danaid</p>
              <p class="description">Son</p>
            </div>
            <label for="contact-2"></label>
          </div>

          <div class="item">
            <div class="portrait" id="Neila"></div>
            <div class="details">
              <p class="name">Neila Danaid</p>
              <p class="description">Wife</p>
            </div>
            <label for="contact-3"></label>
          </div>

          <div class="item">
            <div class="portrait" id="Ana"></div>
            <div class="details">
              <p class="name">Susan Jane</p>
              <p class="description">Daughter</p>
            </div>
            <label for="contact-9"></label>
          </div>


          <div class="item">
            <div class="portrait" id="Tim"></div>
            <div class="details">
              <p class="name">Mike Ross</p>
              <p class="description">Close Friend</p>
            </div>
            <label for="contact-4"></label>
          </div>          

        </div>
      </div>
    </div>
   </div>

               <!-- /.row -->
            <div class="row" id="boxes">
                <div class="col-lg-3 col-md-3">
                    <div class="panel panel-red">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-user-md fa-5x"></i>
                                </div>
                                <div class="col-xs-3" id="inside_box">
                                    <div class="huge">1</div>
                                    <div>Total Falls</div>
                                </div>
                            </div>
                        </div>
                            <div class="panel-footer">
                            </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3" id="yellow-box">
                    <div class="panel panel-yellow">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-heartbeat fa-5x"></i>
                                </div>
                                <div class="col-xs-3" id="inside_box">
                                    <div class="huge">3</div>
                                    <div>Close Calls</div>
                                </div>
                            </div>
                        </div>
                          <div class="panel-footer"></div>                        
                    </div>
                </div>
            </div>
        <p id="stabilityText" style="margin-left: 485px;">Stability Over Time</p>
        <div class="col-md-6" id="line_Chart">
          <canvas id="lineChart" width="400" height="250"></canvas>
        </div>            


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <script type="text/javascript" src="js.cookie.js"></script>
    <script type="text/javascript" src="userprofile.js"></script>
    
  </body>
</html>